In [52]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)  # Show all columns when displaying DataFrames

In [ ]:
workouts = pd.read_csv(".../GYM WORKOUT ANALYSIS PROJECT/processed_data/clean_strong_workouts.csv")

In [54]:
workouts.head()

,DATE,WORKOUT_NAME,DURATION_MIN,EXERCISE_NAME,SET_ORDER,WEIGHT_LBS,REPS,NOTES,RPE,VOLUME,RECORDED_RPE,REPS_ONLY
0,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Lateral Raise (Machine),1,170.0,10.0,NaN,9.0,1700.0,True,10.0
1,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Lateral Raise (Machine),2,170.0,10.0,NaN,10.0,1700.0,True,10.0
2,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),2,40.0,7.0,NaN,9.0,280.0,True,7.0
3,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),3,40.0,7.0,NaN,9.0,280.0,True,7.0
4,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),4,40.0,7.0,NaN,10.0,280.0,True,7.0

In [55]:
workouts["DATE"] = pd.to_datetime(workouts["DATE"])
workouts.info()

<class 'pandas.DataFrame'>
RangeIndex: 4621 entries, 0 to 4620
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           4621 non-null   datetime64[us]
 1   WORKOUT_NAME   4621 non-null   str
 2   DURATION_MIN   4621 non-null   int64
 3   EXERCISE_NAME  4621 non-null   str
 4   SET_ORDER      4560 non-null   str
 5   WEIGHT_LBS     4621 non-null   float64
 6   REPS           4621 non-null   float64
 7   NOTES          192 non-null    str
 8   RPE            4387 non-null   float64
 9   VOLUME         4621 non-null   float64
 10  RECORDED_RPE   4621 non-null   bool
 11  REPS_ONLY      4621 non-null   float64
dtypes: bool(1), datetime64[us](1), float64(5), int64(1), str(4)
memory usage: 401.8 KB

In [56]:
workouts

,DATE,WORKOUT_NAME,DURATION_MIN,EXERCISE_NAME,SET_ORDER,WEIGHT_LBS,REPS,NOTES,RPE,VOLUME,RECORDED_RPE,REPS_ONLY
0,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Lateral Raise (Machine),1,170.0,10.0,NaN,9.0,1700.0,True,10.0
1,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Lateral Raise (Machine),2,170.0,10.0,NaN,10.0,1700.0,True,10.0
2,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),2,40.0,7.0,NaN,9.0,280.0,True,7.0
3,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),3,40.0,7.0,NaN,9.0,280.0,True,7.0
4,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),4,40.0,7.0,NaN,10.0,280.0,True,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4616,2026-02-02 07:12:20,CHEST & SHOULDER & TRICEPS,86,ABDOMINAL,NaN,0.0,0.0,NaN,NaN,0.0,False,0.0
4617,2026-02-02 07:12:20,CHEST & SHOULDER & TRICEPS,86,ABDOMINAL,NaN,0.0,0.0,NaN,NaN,0.0,False,0.0
4618,2026-02-02 07:12:20,CHEST & SHOULDER & TRICEPS,86,ABDOMINAL,NaN,0.0,0.0,NaN,NaN,0.0,False,0.0
4619,2026-02-02 07:12:20,CHEST & SHOULDER & TRICEPS,86,ABDOMINAL,NaN,0.0,0.0,NaN,NaN,0.0,False,0.0
4620,2026-02-02 07:12:20,CHEST & SHOULDER & TRICEPS,86,ABDOMINAL,NaN,0.0,0.0,NaN,NaN,0.0,False,0.0

In [57]:
workouts.isnull().sum()

DATE                0
WORKOUT_NAME        0
DURATION_MIN        0
EXERCISE_NAME       0
SET_ORDER          61
WEIGHT_LBS          0
REPS                0
NOTES            4429
RPE               234
VOLUME              0
RECORDED_RPE        0
REPS_ONLY           0
dtype: int64

In [58]:
workouts.dtypes

DATE             datetime64[us]
WORKOUT_NAME                str
DURATION_MIN              int64
EXERCISE_NAME               str
SET_ORDER                   str
WEIGHT_LBS              float64
REPS                    float64
NOTES                       str
RPE                     float64
VOLUME                  float64
RECORDED_RPE               bool
REPS_ONLY               float64
dtype: object

In [59]:
workouts.describe()

,DATE,DURATION_MIN,WEIGHT_LBS,REPS,RPE,VOLUME,REPS_ONLY
count,4621,4621.000000,4621.000000,4621.000000,4387.000000,4621.000000,4621.000000
mean,2025-05-05 09:19:33.831638,83.027050,88.972300,10.739018,7.972646,930.607661,10.739018
min,2024-09-22 09:07:41,38.000000,0.000000,0.000000,6.000000,0.000000,0.000000
25%,2024-12-11 04:25:52,73.000000,35.000000,9.000000,7.000000,360.000000,9.000000
50%,2025-03-30 07:59:43,82.000000,80.000000,10.000000,8.000000,900.000000,10.000000
75%,2025-10-07 10:09:28,90.000000,140.000000,12.000000,9.000000,1350.000000,12.000000
max,2026-02-02 07:12:20,136.000000,320.000000,15.000000,10.000000,3200.000000,15.000000
std,NaN,15.578468,62.970058,2.950063,1.061570,632.464898,2.950063

In [60]:
workouts["EXERCISE_NAME"].unique()

<StringArray>
[                       'Lateral Raise (Machine)',
                       'Overhead Press (Barbell)',
                          'Reverse Fly (Machine)',
                    'Triceps Extension (Machine)',
        'Triceps Pushdown (Cable - Straight Bar)',
                          'Bicep Curl (Dumbbell)',
                         'Hammer Curl (Dumbbell)',
                   'Triceps Extension (Dumbbell)',
                            'Bayesian Curl Cable',
                         'Reverse Curl (Barbell)',
          'Seated Palms Up Wrist Curl (Dumbbell)',
                  'Incline Bench Press (Barbell)',
                          'Bench Press (Barbell)',
                                      'Chest Fly',
                                        'Pull Up',
                                        'Chin Up',
                        'Bent Over Row (Barbell)',
                                      'Chest Dip',
                      'Iso-Lateral Row (Machine)',
                         'Hip Adductor (Machine)',
                         'Hip Abductor (Machine)',
                       'Lying Leg Curl (Machine)',
                        'Leg Extension (Machine)',
                                'Squat (Barbell)',
                  'Standing Calf Raise (Machine)',
                           'Hip Thrust (Barbell)',
                     'Seated Leg Press (Machine)',
                                     'Hack Squat',
                       'Glute Kickback (Machine)',
                  'Standing Calf Raise (Barbell)',
                          'Squat (Smith Machine)',
                   'Stiff Leg Deadlift (Barbell)',
                                      'T Bar Row',
                      'Triceps Extension (Cable)',
                              'Triceps Extension',
                          'Bulgarian Split Squat',
                       'Lateral Raise (Dumbbell)',
                'Strict Military Press (Barbell)',
                                    'Triceps Dip',
                            'Reverse Fly (Cable)',
                                        'Push Up',
                       'Shoulder Press (Machine)',
                          'Lateral Raise (Cable)',
                        'Skullcrusher (Dumbbell)',
                                    'Spider Curl',
                             'Deadlift (Barbell)',
                              'Rope Lat Pulldown',
            'Incline Bench Press (Smith Machine)',
               'Bent Over One Arm Row (Dumbbell)',
                 'Overhead Press (Smith Machine)',
                         'Reverse Fly (Dumbbell)',
                          'Chest Press (Machine)',
                             'Seated Row (Cable)',
                         'Lat Pulldown (Machine)',
                           'Bicep Curl (Machine)',
                      'Seated Leg Curl (Machine)',
                                      'ABDOMINAL',
                           'Seated Row (Machine)',
                           'Reverse Curl (cable)',
                                  'Shin Exercise',
                              'Kneeling Leg Curl',
                  'Incline Chest Press (Machine)',
 'Overhead Triceps Extension Unilateral Dumbbell',
           'Overhead Triceps Extension Dumbbell ',
                     'Cable Rear Delt Single Arm',
                           'Bicep Curl (Barbell)',
                    'Seated Calf Raise (Machine)',
                                   'RDL dumbbell',
                                   'Wrist Cable ',
                                'Squat (Machine)']
Length: 70, dtype: str

In [61]:
workouts.groupby("EXERCISE_NAME").agg({
    "REPS": ["mean", "max", "min"],
    "WEIGHT_LBS": ["mean", "max", "min"],
    "RPE": ["mean", "max", "min"]
})

                                              REPS              WEIGHT_LBS  \
                                              mean   max   min        mean
EXERCISE_NAME
ABDOMINAL                                13.653846  15.0   0.0  112.339744
Bayesian Curl Cable                      10.572816  13.0   7.0   50.776699
Bench Press (Barbell)                     7.798913  15.0   3.0  164.076087
Bent Over One Arm Row (Dumbbell)         10.000000  10.0  10.0   65.000000
Bent Over Row (Barbell)                   9.583333  12.0   5.0  123.888889
...                                            ...   ...   ...         ...
Triceps Extension (Cable)                10.524390  15.0   0.0   72.054878
Triceps Extension (Dumbbell)             10.000000  10.0  10.0   30.000000
Triceps Extension (Machine)              13.140625  15.0   8.0  149.140625
Triceps Pushdown (Cable - Straight Bar)  10.507246  15.0   0.0   48.188406
Wrist Cable                              14.250000  15.0  12.0   85.625000

                                                            RPE
                                           max    min      mean   max  min
EXERCISE_NAME
ABDOMINAL                                140.0    0.0  6.626761   8.0  6.0
Bayesian Curl Cable                       60.0   20.0  8.862745  10.0  6.0
Bench Press (Barbell)                    185.0   70.0  8.827778  10.0  7.0
Bent Over One Arm Row (Dumbbell)          65.0   65.0       NaN   NaN  NaN
Bent Over Row (Barbell)                  135.0  115.0  8.629630   9.0  8.0
...                                        ...    ...       ...   ...  ...
Triceps Extension (Cable)                100.0    0.0  8.241611   9.0  6.0
Triceps Extension (Dumbbell)              30.0   30.0  8.600000   9.0  8.0
Triceps Extension (Machine)              230.0  110.0  6.951613  10.0  6.0
Triceps Pushdown (Cable - Straight Bar)   70.0    0.0  7.186441  10.0  6.0
Wrist Cable                               90.0   80.0  6.875000   7.0  6.0

[70 rows x 9 columns]

In [62]:
workouts.columns

Index(['DATE', 'WORKOUT_NAME', 'DURATION_MIN', 'EXERCISE_NAME', 'SET_ORDER',
       'WEIGHT_LBS', 'REPS', 'NOTES', 'RPE', 'VOLUME', 'RECORDED_RPE',
       'REPS_ONLY'],
      dtype='str')

In [ ]:
workouts_daily = workouts.set_index("DATE").resample("D").agg({
    "DURATION_MIN": "max",
    "REPS": "sum",
    "WEIGHT_LBS": "sum",
    "RPE": "mean",
    "VOLUME": "sum"
})
workouts_daily["EXERCISED"] = (workouts_daily["REPS"] > 0).astype(int)

In [69]:
workouts_daily

            DURATION_MIN   REPS  WEIGHT_LBS       RPE   VOLUME  EXERCISED
DATE
2024-09-22         127.0  245.0      2030.0  8.678571  18345.0          1
2024-09-23         118.0  188.0      2810.0  8.807692  21295.0          1
2024-09-24           NaN    0.0         0.0       NaN      0.0          0
2024-09-25         103.0  194.0      3745.0  9.000000  33290.0          1
2024-09-26         131.0  235.0      2000.0  8.884615  18310.0          1
...                  ...    ...         ...       ...      ...        ...
2026-01-29           NaN    0.0         0.0       NaN      0.0          0
2026-01-30          82.0  309.0      1895.0  7.090909  24575.0          1
2026-01-31           NaN    0.0         0.0       NaN      0.0          0
2026-02-01           NaN    0.0         0.0       NaN      0.0          0
2026-02-02          86.0    0.0         0.0       NaN      0.0          0

[499 rows x 6 columns]