In [4]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)  # Show all columns when displaying DataFrames

In [ ]:
workouts = pd.read_csv(".../GYM WORKOUT ANALYSIS PROJECT/processed_data/clean_strong_workouts.csv")
recovery = pd.read_csv(".../GYM WORKOUT ANALYSIS PROJECT/processed_data/clean_recovery_data.csv")

In [6]:
workouts.head()

,DATE,WORKOUT_NAME,DURATION_MIN,EXERCISE_NAME,SET_ORDER,WEIGHT_LBS,REPS,NOTES,RPE,VOLUME,RECORDED_RPE,REPS_ONLY
0,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Lateral Raise (Machine),1,170.0,10.0,NaN,9.0,1700.0,True,10.0
1,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Lateral Raise (Machine),2,170.0,10.0,NaN,10.0,1700.0,True,10.0
2,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),2,40.0,7.0,NaN,9.0,280.0,True,7.0
3,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),3,40.0,7.0,NaN,9.0,280.0,True,7.0
4,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),4,40.0,7.0,NaN,10.0,280.0,True,7.0

In [7]:
workouts["DATE"] = pd.to_datetime(workouts["DATE"])
workouts.info()

<class 'pandas.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           4617 non-null   datetime64[us]
 1   WORKOUT_NAME   4617 non-null   str
 2   DURATION_MIN   4617 non-null   int64
 3   EXERCISE_NAME  4617 non-null   str
 4   SET_ORDER      4617 non-null   str
 5   WEIGHT_LBS     4617 non-null   float64
 6   REPS           4617 non-null   float64
 7   NOTES          199 non-null    str
 8   RPE            4442 non-null   float64
 9   VOLUME         4617 non-null   float64
 10  RECORDED_RPE   4617 non-null   bool
 11  REPS_ONLY      4617 non-null   float64
dtypes: bool(1), datetime64[us](1), float64(5), int64(1), str(4)
memory usage: 401.4 KB

In [8]:
workouts

,DATE,WORKOUT_NAME,DURATION_MIN,EXERCISE_NAME,SET_ORDER,WEIGHT_LBS,REPS,NOTES,RPE,VOLUME,RECORDED_RPE,REPS_ONLY
0,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Lateral Raise (Machine),1,170.0,10.0,NaN,9.0,1700.0,True,10.0
1,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Lateral Raise (Machine),2,170.0,10.0,NaN,10.0,1700.0,True,10.0
2,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),2,40.0,7.0,NaN,9.0,280.0,True,7.0
3,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),3,40.0,7.0,NaN,9.0,280.0,True,7.0
4,2024-09-22 09:07:41,SHOULDERS & ARMS,127,Overhead Press (Barbell),4,40.0,7.0,NaN,10.0,280.0,True,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4612,2026-02-04 07:02:56,"Back, Rear Delts & Biceps REHAB",98,Cable Rear Delt Single Arm,2,20.0,13.0,NaN,7.0,260.0,True,13.0
4613,2026-02-04 07:02:56,"Back, Rear Delts & Biceps REHAB",98,Cable Rear Delt Single Arm,3,20.0,10.0,NaN,7.0,200.0,True,10.0
4614,2026-02-04 07:02:56,"Back, Rear Delts & Biceps REHAB",98,Cable Rear Delt Single Arm,4,20.0,10.0,NaN,7.0,200.0,True,10.0
4615,2026-02-04 07:02:56,"Back, Rear Delts & Biceps REHAB",98,Chin Up,1,0.0,6.0,NaN,NaN,0.0,False,6.0
4616,2026-02-04 07:02:56,"Back, Rear Delts & Biceps REHAB",98,Chin Up,2,0.0,6.0,NaN,NaN,0.0,False,6.0

In [9]:
workouts.isnull().sum()

DATE                0
WORKOUT_NAME        0
DURATION_MIN        0
EXERCISE_NAME       0
SET_ORDER           0
WEIGHT_LBS          0
REPS                0
NOTES            4418
RPE               175
VOLUME              0
RECORDED_RPE        0
REPS_ONLY           0
dtype: int64

In [10]:
workouts.dtypes

DATE             datetime64[us]
WORKOUT_NAME                str
DURATION_MIN              int64
EXERCISE_NAME               str
SET_ORDER                   str
WEIGHT_LBS              float64
REPS                    float64
NOTES                       str
RPE                     float64
VOLUME                  float64
RECORDED_RPE               bool
REPS_ONLY               float64
dtype: object

In [11]:
workouts.describe()

,DATE,DURATION_MIN,WEIGHT_LBS,REPS,RPE,VOLUME,REPS_ONLY
count,4617,4617.000000,4617.000000,4617.000000,4442.000000,4617.000000,4617.000000
mean,2025-05-05 03:57:07.195148,83.099848,89.747888,10.880442,7.961729,939.213342,10.880442
min,2024-09-22 09:07:41,38.000000,0.000000,1.000000,6.000000,0.000000,1.000000
25%,2024-12-11 04:25:52,73.000000,35.000000,9.000000,7.000000,360.000000,9.000000
50%,2025-03-29 08:56:45,82.000000,80.000000,11.000000,8.000000,900.000000,11.000000
75%,2025-10-07 10:09:28,90.000000,140.000000,13.000000,9.000000,1350.000000,13.000000
max,2026-02-04 07:02:56,136.000000,320.000000,15.000000,10.000000,3200.000000,15.000000
std,NaN,15.628146,62.431881,2.694191,1.059956,627.183944,2.694191

In [12]:
workouts["EXERCISE_NAME"].unique()

<StringArray>
[                       'Lateral Raise (Machine)',
                       'Overhead Press (Barbell)',
                          'Reverse Fly (Machine)',
                    'Triceps Extension (Machine)',
        'Triceps Pushdown (Cable - Straight Bar)',
                          'Bicep Curl (Dumbbell)',
                         'Hammer Curl (Dumbbell)',
                   'Triceps Extension (Dumbbell)',
                            'Bayesian Curl Cable',
                         'Reverse Curl (Barbell)',
          'Seated Palms Up Wrist Curl (Dumbbell)',
                  'Incline Bench Press (Barbell)',
                          'Bench Press (Barbell)',
                                      'Chest Fly',
                                        'Pull Up',
                                        'Chin Up',
                        'Bent Over Row (Barbell)',
                                      'Chest Dip',
                      'Iso-Lateral Row (Machine)',
                         'Hip Adductor (Machine)',
                         'Hip Abductor (Machine)',
                       'Lying Leg Curl (Machine)',
                        'Leg Extension (Machine)',
                                'Squat (Barbell)',
                  'Standing Calf Raise (Machine)',
                           'Hip Thrust (Barbell)',
                     'Seated Leg Press (Machine)',
                                     'Hack Squat',
                       'Glute Kickback (Machine)',
                  'Standing Calf Raise (Barbell)',
                          'Squat (Smith Machine)',
                   'Stiff Leg Deadlift (Barbell)',
                                      'T Bar Row',
                      'Triceps Extension (Cable)',
                              'Triceps Extension',
                          'Bulgarian Split Squat',
                       'Lateral Raise (Dumbbell)',
                'Strict Military Press (Barbell)',
                                    'Triceps Dip',
                            'Reverse Fly (Cable)',
                                        'Push Up',
                       'Shoulder Press (Machine)',
                          'Lateral Raise (Cable)',
                        'Skullcrusher (Dumbbell)',
                                    'Spider Curl',
                             'Deadlift (Barbell)',
                              'Rope Lat Pulldown',
            'Incline Bench Press (Smith Machine)',
               'Bent Over One Arm Row (Dumbbell)',
                 'Overhead Press (Smith Machine)',
                         'Reverse Fly (Dumbbell)',
                          'Chest Press (Machine)',
                             'Seated Row (Cable)',
                         'Lat Pulldown (Machine)',
                           'Bicep Curl (Machine)',
                      'Seated Leg Curl (Machine)',
                                      'ABDOMINAL',
                           'Seated Row (Machine)',
                           'Reverse Curl (cable)',
                                  'Shin Exercise',
                              'Kneeling Leg Curl',
                  'Incline Chest Press (Machine)',
 'Overhead Triceps Extension Unilateral Dumbbell',
           'Overhead Triceps Extension Dumbbell ',
                     'Cable Rear Delt Single Arm',
                           'Bicep Curl (Barbell)',
                    'Seated Calf Raise (Machine)',
                                   'RDL dumbbell',
                                   'Wrist Cable ',
                                'Squat (Machine)']
Length: 70, dtype: str

In [13]:
workouts.groupby("EXERCISE_NAME").agg({
    "REPS": ["mean", "max", "min"],
    "WEIGHT_LBS": ["mean", "max", "min"],
    "RPE": ["mean", "max", "min"]
})

                                              REPS              WEIGHT_LBS  \
                                              mean   max   min        mean
EXERCISE_NAME
ABDOMINAL                                14.361842  15.0  10.0  118.914474
Bayesian Curl Cable                      10.518868  13.0   5.0   50.283019
Bench Press (Barbell)                     7.798913  15.0   3.0  164.076087
Bent Over One Arm Row (Dumbbell)         10.000000  10.0  10.0   65.000000
Bent Over Row (Barbell)                   9.583333  12.0   5.0  123.888889
...                                            ...   ...   ...         ...
Triceps Extension (Cable)                11.119497  15.0   8.0   75.955975
Triceps Extension (Dumbbell)             10.000000  10.0  10.0   30.000000
Triceps Extension (Machine)              13.140625  15.0   8.0  149.140625
Triceps Pushdown (Cable - Straight Bar)  11.984375  15.0   9.0   55.546875
Wrist Cable                              14.250000  15.0  12.0   85.625000

                                                            RPE
                                           max    min      mean   max  min
EXERCISE_NAME
ABDOMINAL                                140.0   65.0  6.643836   8.0  6.0
Bayesian Curl Cable                       60.0   20.0  8.809524  10.0  6.0
Bench Press (Barbell)                    185.0   70.0  8.827778  10.0  7.0
Bent Over One Arm Row (Dumbbell)          65.0   65.0       NaN   NaN  NaN
Bent Over Row (Barbell)                  135.0  115.0  8.629630   9.0  8.0
...                                        ...    ...       ...   ...  ...
Triceps Extension (Cable)                100.0   27.0  8.215686   9.0  6.0
Triceps Extension (Dumbbell)              30.0   30.0  8.600000   9.0  8.0
Triceps Extension (Machine)              230.0  110.0  6.951613  10.0  6.0
Triceps Pushdown (Cable - Straight Bar)   70.0   30.0  7.174603  10.0  6.0
Wrist Cable                               90.0   80.0  6.875000   7.0  6.0

[70 rows x 9 columns]

In [14]:
workouts.columns

Index(['DATE', 'WORKOUT_NAME', 'DURATION_MIN', 'EXERCISE_NAME', 'SET_ORDER',
       'WEIGHT_LBS', 'REPS', 'NOTES', 'RPE', 'VOLUME', 'RECORDED_RPE',
       'REPS_ONLY'],
      dtype='str')

In [15]:
workouts_daily = workouts.set_index("DATE").resample("D").agg({
    "DURATION_MIN": "max",
    "REPS": "sum",
    "WEIGHT_LBS": "sum",
    "RPE": "mean",
    "VOLUME": "sum"
})
workouts_daily["EXERCISED"] = (workouts_daily["REPS"] > 0).astype(int)

In [16]:
workouts_daily

            DURATION_MIN   REPS  WEIGHT_LBS       RPE   VOLUME  EXERCISED
DATE
2024-09-22         127.0  245.0      2030.0  8.678571  18345.0          1
2024-09-23         118.0  188.0      2810.0  8.807692  21295.0          1
2024-09-24           NaN    0.0         0.0       NaN      0.0          0
2024-09-25         103.0  194.0      3745.0  9.000000  33290.0          1
2024-09-26         131.0  235.0      2000.0  8.884615  18310.0          1
...                  ...    ...         ...       ...      ...        ...
2026-01-31           NaN    0.0         0.0       NaN      0.0          0
2026-02-01           NaN    0.0         0.0       NaN      0.0          0
2026-02-02          86.0  309.0      1925.0  7.142857  21985.0          1
2026-02-03           NaN    0.0         0.0       NaN      0.0          0
2026-02-04          98.0  301.0      1300.0  7.037037  14025.0          1

[501 rows x 6 columns]

In [23]:
squat_heavy = workouts.loc[(workouts["EXERCISE_NAME"] == "Squat (Barbell)") &
             (workouts["WEIGHT_LBS"] > 135), ["DATE", "WEIGHT_LBS", "REPS", "RPE"]]

In [31]:
squat_heavy.dtypes

DATE          datetime64[us]
WEIGHT_LBS           float64
REPS                 float64
RPE                  float64
dtype: object

In [34]:
def lbs_to_kg(lbs):
    return lbs * 0.453592

squat_heavy["WEIGHT_KG"] = squat_heavy["WEIGHT_LBS"].apply(lbs_to_kg)

In [38]:
squat_heavy.loc[(squat_heavy["WEIGHT_LBS"] == squat_heavy["WEIGHT_LBS"].max())]

                    DATE  WEIGHT_LBS  REPS  RPE  WEIGHT_KG
2780 2025-05-03 07:57:11       195.0   5.0  9.0   88.45044